.Flower {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.Flower__inner {
  width: 500px;
  margin: 0 auto;
  
  text-align: center;
  box-shadow: 1px 2px 3px #000;
}

// .Flower div {
//   width: 100%;
// }

// .Flower div img {
//   width: 100%;
//   height: auto;
// }